#Order deny,allow
#Deny from all

RewriteEngine On # Turn on the rewriting engine
RewriteRule ^read$ read.php [NC,L]
RewriteRule ^read/([0-9_-]\*)$ read.php?id=$1 [NC,L]
RewriteRule ^create$ create.php [NC,L]
RewriteRule ^update$ update.php [NC,L]
RewriteRule ^delete$ delete.php [NC,L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Allow-Headers "*"
</IfModule>

<Files "auth.php">
Allow from all
</Files>

<Files "topics/Topic.php">
Allow from all
</Files>

<Files "files/index.php">
Allow from all
</Files>

<FilesMatch "\.(jpe?g|png|gif|webp|js)$">
Allow From All
</FilesMatch>
